In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import category_encoders as ce
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler

# Importing Data

Dataset can be imported to the Notebook or program using the pandas library function 'read_csv(<path>)'

In [2]:
train_df = pd.read_csv('dataset/trainms.csv')
test_df = pd.read_csv('dataset/testms.csv')
target = pd.read_csv('dataset/samplems.csv')
pd.set_option('display.max_columns', None)
train_df.head(3)

,s.no,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,3,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN

In [3]:
target.drop(['s.no'], axis = 1, inplace = True)
test_df = pd.concat([test_df, target], axis = 1)

In [4]:
test_df.head(3)

,s.no,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,treatment
0,1,2014-08-29 09:29:37,25,Male,United States,PA,No,Yes,Often,6-25,Yes,Yes,Yes,Yes,No,Don't know,Yes,Somewhat easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No,NaN,No
1,2,2014-08-29 09:31:37,42,male,United States,IN,No,Yes,Sometimes,6-25,Yes,Yes,Don't know,No,No,Don't know,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No,NaN,No
2,3,2014-08-29 09:31:49,34,male,United States,PA,No,Yes,Often,100-500,No,Yes,Yes,Yes,No,No,Yes,Very easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No,NaN,Yes

In [5]:
print("Train data dim : ", train_df.shape, "\nTest data dim : ", test_df.shape)

Train data dim :  (1000, 28)
Test data dim :  (259, 28)

In [6]:
df = pd.concat([train_df, test_df], sort = True)

In [7]:
df.head()

,Age,Country,Gender,Timestamp,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,no_employees,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,s.no,seek_help,self_employed,state,supervisor,tech_company,treatment,wellness_program,work_interfere
0,37,United States,Female,2014-08-27 11:29:31,Yes,Yes,Not sure,NaN,Some of them,No,Somewhat easy,No,No,Yes,6-25,No,No,Maybe,No,1,Yes,NaN,IL,Yes,Yes,Yes,No,Often
1,44,United States,M,2014-08-27 11:29:37,Don't know,Don't know,No,NaN,No,No,Don't know,Maybe,No,Don't know,More than 1000,No,No,No,No,2,Don't know,NaN,IN,No,No,No,Don't know,Rarely
2,32,Canada,Male,2014-08-27 11:29:44,Don't know,No,No,NaN,Yes,No,Somewhat difficult,No,Yes,No,6-25,No,No,Yes,No,3,No,NaN,NaN,Yes,Yes,No,No,Rarely
3,31,United Kingdom,Male,2014-08-27 11:29:46,No,No,Yes,NaN,Some of them,Yes,Somewhat difficult,Yes,Maybe,No,26-100,Yes,Yes,Maybe,No,4,No,NaN,NaN,No,Yes,Yes,No,Often
4,31,United States,Male,2014-08-27 11:30:22,Don't know,Yes,No,NaN,Some of them,No,Don't know,No,Yes,Don't know,100-500,No,No,Yes,Yes,5,Don't know,NaN,TX,Yes,Yes,No,Don't know,Never

In [8]:
df.drop( 's.no', inplace = True, axis = 1)
df.head(3)

,Age,Country,Gender,Timestamp,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,no_employees,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,state,supervisor,tech_company,treatment,wellness_program,work_interfere
0,37,United States,Female,2014-08-27 11:29:31,Yes,Yes,Not sure,NaN,Some of them,No,Somewhat easy,No,No,Yes,6-25,No,No,Maybe,No,Yes,NaN,IL,Yes,Yes,Yes,No,Often
1,44,United States,M,2014-08-27 11:29:37,Don't know,Don't know,No,NaN,No,No,Don't know,Maybe,No,Don't know,More than 1000,No,No,No,No,Don't know,NaN,IN,No,No,No,Don't know,Rarely
2,32,Canada,Male,2014-08-27 11:29:44,Don't know,No,No,NaN,Yes,No,Somewhat difficult,No,Yes,No,6-25,No,No,Yes,No,No,NaN,NaN,Yes,Yes,No,No,Rarely

# Data Preprocessing

In [9]:
#finding Missing data
null_df = df.isnull()
null_df.head()

,Age,Country,Gender,Timestamp,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,no_employees,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,state,supervisor,tech_company,treatment,wellness_program,work_interfere
0,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False

In [10]:
for col in null_df.columns:
    print(null_df[col].value_counts())
    print("_______________________")

False    1259
Name: Age, dtype: int64
_______________________
False    1259
Name: Country, dtype: int64
_______________________
False    1259
Name: Gender, dtype: int64
_______________________
False    1259
Name: Timestamp, dtype: int64
_______________________
False    1259
Name: anonymity, dtype: int64
_______________________
False    1259
Name: benefits, dtype: int64
_______________________
False    1259
Name: care_options, dtype: int64
_______________________
True     1095
False     164
Name: comments, dtype: int64
_______________________
False    1259
Name: coworkers, dtype: int64
_______________________
False    1259
Name: family_history, dtype: int64
_______________________
False    1259
Name: leave, dtype: int64
_______________________
False    1259
Name: mental_health_consequence, dtype: int64
_______________________
False    1259
Name: mental_health_interview, dtype: int64
_______________________
False    1259
Name: mental_vs_physical, dtype: int64
_______________________
False    1259
Name: no_employees, dtype: int64
_______________________
False    1259
Name: obs_consequence, dtype: int64
_______________________
False    1259
Name: phys_health_consequence, dtype: int64
_______________________
False    1259
Name: phys_health_interview, dtype: int64
_______________________
False    1259
Name: remote_work, dtype: int64
_______________________
False    1259
Name: seek_help, dtype: int64
_______________________
False    1241
True       18
Name: self_employed, dtype: int64
_______________________
False    744
True     515
Name: state, dtype: int64
_______________________
False    1259
Name: supervisor, dtype: int64
_______________________
False    1259
Name: tech_company, dtype: int64
_______________________
False    1259
Name: treatment, dtype: int64
_______________________
False    1259
Name: wellness_program, dtype: int64
_______________________
False    995
True     264
Name: work_interfere, dtype: int64
_______________________

**From the above list, it is clear that the feature 'state' contain more null values that cannot even filled, since some countries are almost null. So we can drop the column state**

In [11]:
df.drop(columns = ['Timestamp', 'state'], inplace = True)
df.head()

,Age,Country,Gender,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,no_employees,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,supervisor,tech_company,treatment,wellness_program,work_interfere
0,37,United States,Female,Yes,Yes,Not sure,NaN,Some of them,No,Somewhat easy,No,No,Yes,6-25,No,No,Maybe,No,Yes,NaN,Yes,Yes,Yes,No,Often
1,44,United States,M,Don't know,Don't know,No,NaN,No,No,Don't know,Maybe,No,Don't know,More than 1000,No,No,No,No,Don't know,NaN,No,No,No,Don't know,Rarely
2,32,Canada,Male,Don't know,No,No,NaN,Yes,No,Somewhat difficult,No,Yes,No,6-25,No,No,Yes,No,No,NaN,Yes,Yes,No,No,Rarely
3,31,United Kingdom,Male,No,No,Yes,NaN,Some of them,Yes,Somewhat difficult,Yes,Maybe,No,26-100,Yes,Yes,Maybe,No,No,NaN,No,Yes,Yes,No,Often
4,31,United States,Male,Don't know,Yes,No,NaN,Some of them,No,Don't know,No,Yes,Don't know,100-500,No,No,Yes,Yes,Don't know,NaN,Yes,Yes,No,Don't know,Never

In [12]:
df['self_employed'].value_counts()

No     1095
Yes     146
Name: self_employed, dtype: int64

In [13]:
#since 'No' is most common in train_df['self_employed'], we replace NaN with 'No'. 
df['self_employed'].fillna('No', inplace = True)
train_df.head()

,s.no,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,3,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,4,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,5,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [14]:
df['work_interfere'].value_counts()

Sometimes    465
Never        213
Rarely       173
Often        144
Name: work_interfere, dtype: int64

In [15]:
df['work_interfere'].fillna('Sometimes', inplace = True)
df['work_interfere'].value_counts()

Sometimes    729
Never        213
Rarely       173
Often        144
Name: work_interfere, dtype: int64

In [16]:
df.head()

,Age,Country,Gender,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,no_employees,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,supervisor,tech_company,treatment,wellness_program,work_interfere
0,37,United States,Female,Yes,Yes,Not sure,NaN,Some of them,No,Somewhat easy,No,No,Yes,6-25,No,No,Maybe,No,Yes,No,Yes,Yes,Yes,No,Often
1,44,United States,M,Don't know,Don't know,No,NaN,No,No,Don't know,Maybe,No,Don't know,More than 1000,No,No,No,No,Don't know,No,No,No,No,Don't know,Rarely
2,32,Canada,Male,Don't know,No,No,NaN,Yes,No,Somewhat difficult,No,Yes,No,6-25,No,No,Yes,No,No,No,Yes,Yes,No,No,Rarely
3,31,United Kingdom,Male,No,No,Yes,NaN,Some of them,Yes,Somewhat difficult,Yes,Maybe,No,26-100,Yes,Yes,Maybe,No,No,No,No,Yes,Yes,No,Often
4,31,United States,Male,Don't know,Yes,No,NaN,Some of them,No,Don't know,No,Yes,Don't know,100-500,No,No,Yes,Yes,Don't know,No,Yes,Yes,No,Don't know,Never

In [17]:
def clean_data(result):

    #Gender value cleaning
    #Male
    result.loc[result['Gender'] == 'M','Gender'] = 'Male'
    result.loc[result['Gender'] == 'male','Gender'] = 'Male'
    result.loc[result['Gender'] == 'Mail','Gender'] = 'Male'
    result.loc[result['Gender'] == 'Mal','Gender'] = 'Male'
    result.loc[result['Gender'] == 'msle','Gender'] = 'Male'
    result.loc[result['Gender'] == 'm','Gender'] = 'Male'
    result.loc[result['Gender'] == 'maile','Gender'] = 'Male'
    result.loc[result['Gender'] == 'mal','Gender'] = 'Male'
    result.loc[result['Gender'] == 'Male-ish','Gender'] = 'Male'
    result.loc[result['Gender'] == 'ostensibly male, unsure what that really means','Gender'] = 'Male'
    result.loc[result['Gender'] == 'Cis Man','Gender'] = 'Male'
    result.loc[result['Gender'] == 'something kinda male?','Gender'] = 'Male'
    result.loc[result['Gender'] == 'make','Gender'] = 'Male'
    result.loc[result['Gender'] == 'Make','Gender'] = 'Male'
    result.loc[result['Gender'] == 'cis Man','Gender'] = 'Male'
    result.loc[result['Gender'] == 'Cis Male','Gender'] = 'Male'
    result.loc[result['Gender'] == 'cis Male','Gender'] = 'Male'
    result.loc[result['Gender'] == 'cis male','Gender'] = 'Male'
    result.loc[result['Gender'] == 'Man','Gender'] = 'Male'
    result.loc[result['Gender'] == 'man','Gender'] = 'Male'
    result.loc[result['Gender'] == 'Malr','Gender'] = 'Male'




    #Female
    result.loc[result['Gender'] == 'F','Gender'] = 'Female'
    result.loc[result['Gender'] == 'female','Gender'] = 'Female'
    result.loc[result['Gender'] == 'f','Gender'] = 'Female'
    result.loc[result['Gender'] == 'Cis Female','Gender'] = 'Female'
    result.loc[result['Gender'] == 'Femake','Gender'] = 'Female'
    result.loc[result['Gender'] == 'cis-female/femme','Gender'] = 'Female'
    result.loc[result['Gender'] == 'Female (cis)','Gender'] = 'Female'
    result.loc[result['Gender'] == 'cis female','Gender'] = 'Female'
    result.loc[result['Gender'] == 'Woman','Gender'] = 'Female'
    result.loc[result['Gender'] == 'woman','Gender'] = 'Female'
    result.loc[result['Gender'] == 'femail','Gender'] = 'Female'
    
    
    #Transgender
    result.loc[result['Gender'] == 'Trans woman','Gender'] = 'Transgender'
    result.loc[result['Gender'] == 'Female (trans)','Gender'] = 'Transgender'
    result.loc[result['Gender'] == 'Female (trans)','Gender'] = 'Transgender'
    result.loc[result['Gender'] == 'Trans-female','Gender'] = 'Transgender'


    #Others
    #result.loc[result['Gender'] == 'non-binary','Gender'] = 'Others'
    result.loc[result['Gender'] == 'Nah','Gender'] = 'Others'
    #result.loc[result['Gender'] == 'Enby','Gender'] = 'Others'
    #result.loc[result['Gender'] == 'fluid','Gender'] = 'Others'
    result.loc[result['Gender'] == 'Genderqueer','Gender'] = 'queer'
    #result.loc[result['Gender'] == 'Androgyne','Gender'] = 'Others'
    #result.loc[result['Gender'] == 'Agender','Gender'] = 'Others'
    result.loc[result['Gender'] == 'Guy (-ish) ^_^','Gender'] = 'Others'
    result.loc[result['Gender'] == 'male leaning androgynous','Gender'] = 'Others'
    #result.loc[result['Gender'] == 'Neuter','Gender'] = 'Others'
    #result.loc[result['Gender'] == 'queer','Gender'] = 'Others'
    result.loc[result['Gender'] == 'A little about you','Gender'] = 'Others'
    result.loc[result['Gender'] == 'p','Gender'] = 'Others'

In [18]:
clean_data(df)
df['Gender'].value_counts()

Male           989
Female         247
Others           5
Male             4
Transgender      4
Female           2
queer            2
Androgyne        1
Neuter           1
Enby             1
non-binary       1
fluid            1
Agender          1
Name: Gender, dtype: int64

# Categorical Data Encoding

In [19]:
data = df

In [20]:
y = data['treatment']
y = pd.DataFrame(y)
data.drop(['treatment'], axis = 1, inplace = True)
data.head()

,Age,Country,Gender,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,no_employees,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,supervisor,tech_company,wellness_program,work_interfere
0,37,United States,Female,Yes,Yes,Not sure,NaN,Some of them,No,Somewhat easy,No,No,Yes,6-25,No,No,Maybe,No,Yes,No,Yes,Yes,No,Often
1,44,United States,Male,Don't know,Don't know,No,NaN,No,No,Don't know,Maybe,No,Don't know,More than 1000,No,No,No,No,Don't know,No,No,No,Don't know,Rarely
2,32,Canada,Male,Don't know,No,No,NaN,Yes,No,Somewhat difficult,No,Yes,No,6-25,No,No,Yes,No,No,No,Yes,Yes,No,Rarely
3,31,United Kingdom,Male,No,No,Yes,NaN,Some of them,Yes,Somewhat difficult,Yes,Maybe,No,26-100,Yes,Yes,Maybe,No,No,No,No,Yes,No,Often
4,31,United States,Male,Don't know,Yes,No,NaN,Some of them,No,Don't know,No,Yes,Don't know,100-500,No,No,Yes,Yes,Don't know,No,Yes,Yes,Don't know,Never

In [21]:
#Encoding target variable
y.loc[y['treatment'] == 'Yes','treatment'] = 1
y.loc[y['treatment'] == 'No','treatment'] = 0
y.head()

   treatment
0          1
1          0
2          0
3          1
4          0

### 1. Finding and encoding High Cardinality Features.

* High Cardinality means that, features with lots of unique values

In [22]:
data['Country'].unique().shape

(48,)

In [23]:
data['Country'].unique()

array(['United States', 'Canada', 'United Kingdom', 'Bulgaria', 'France',
       'Portugal', 'Netherlands', 'Switzerland', 'Poland', 'Australia',
       'Germany', 'Russia', 'Mexico', 'Brazil', 'Slovenia', 'Costa Rica',
       'Austria', 'Ireland', 'India', 'South Africa', 'Italy', 'Sweden',
       'Colombia', 'Latvia', 'Romania', 'Belgium', 'New Zealand',
       'Zimbabwe', 'Spain', 'Finland', 'Uruguay', 'Israel',
       'Bosnia and Herzegovina', 'Hungary', 'Singapore', 'Japan',
       'Nigeria', 'Croatia', 'Norway', 'Thailand', 'Denmark',
       'Bahamas, The', 'Greece', 'Moldova', 'Georgia', 'China',
       'Czech Republic', 'Philippines'], dtype=object)

In [24]:
data['Gender'].unique().shape

(13,)

In [25]:
data['Gender'].unique()

array(['Female', 'Male', 'Transgender', 'Male ', 'non-binary', 'Others',
       'Enby', 'fluid', 'queer', 'Female ', 'Androgyne', 'Agender',
       'Neuter'], dtype=object)

* Both features are high cardinality features(k<10k). Hence we cannot apply one-hot encoding since sparse matrix affect the performance of our model.

* The best two options are,
    * Binary Encoding
    * Feature Hashing
    
* Binary encoding is most suitable for Ordinal data. Here 'Country' and 'Gender are nominal data. But its worth trying it too.

* Here I continue with Hash encoding A.K.A Feature Hashing. Hash encoding may results in Collision, but effect of collision is much less on model prediction.

[Referance - Categorical encoding ](https://blog.myyellowroad.com/using-categorical-data-in-machine-learning-with-python-from-dummy-variables-to-deep-category-66041f734512)

[Reference - Hash Ticking](https://booking.ai/dont-be-tricked-by-the-hashing-trick-192a6aae3087)

In [26]:
#Binary encoding on features ['Country', 'Gender']
ce_df = ce.HashingEncoder(cols = ['Country', 'Gender'])
data = ce_df.fit_transform(data, y)
data.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,Age,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,no_employees,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,supervisor,tech_company,wellness_program,work_interfere
0,0,1,0,0,0,0,0,1,37,Yes,Yes,Not sure,NaN,Some of them,No,Somewhat easy,No,No,Yes,6-25,No,No,Maybe,No,Yes,No,Yes,Yes,No,Often
1,0,1,0,0,0,1,0,0,44,Don't know,Don't know,No,NaN,No,No,Don't know,Maybe,No,Don't know,More than 1000,No,No,No,No,Don't know,No,No,No,Don't know,Rarely
2,0,0,0,0,0,1,0,1,32,Don't know,No,No,NaN,Yes,No,Somewhat difficult,No,Yes,No,6-25,No,No,Yes,No,No,No,Yes,Yes,No,Rarely
3,1,0,0,0,0,1,0,0,31,No,No,Yes,NaN,Some of them,Yes,Somewhat difficult,Yes,Maybe,No,26-100,Yes,Yes,Maybe,No,No,No,No,Yes,No,Often
4,0,1,0,0,0,1,0,0,31,Don't know,Yes,No,NaN,Some of them,No,Don't know,No,Yes,Don't know,100-500,No,No,Yes,Yes,Don't know,No,Yes,Yes,Don't know,Never

### 2. Encoding Categorical variables with Yes/No values

* The best method to encode categorical variables with values Yes/No is replacing them with 1/0
    * Yes - 1
    * No - 0

In [27]:
features = ['self_employed', 'family_history', 'remote_work', 'tech_company', 'obs_consequence']
data[features]

     self_employed family_history remote_work tech_company obs_consequence
0               No             No          No          Yes              No
1               No             No          No           No              No
2               No             No          No          Yes              No
3               No            Yes          No          Yes             Yes
4               No             No         Yes          Yes              No
...            ...            ...         ...          ...             ...
1254            No             No          No          Yes              No
1255            No            Yes         Yes          Yes              No
1256            No            Yes          No          Yes              No
1257            No             No         Yes          Yes              No
1258            No            Yes          No           No              No

[1259 rows x 5 columns]

In [28]:
def encodeYesNo(feature):
    data.loc[data[feature] == 'Yes', feature] = 1
    data.loc[data[feature] == 'No', feature ] = 0

In [29]:
for feature in features:
    encodeYesNo(feature)
    
data[features].head()

   self_employed  family_history  remote_work  tech_company  obs_consequence
0              0               0            0             1                0
1              0               0            0             0                0
2              0               0            0             1                0
3              0               1            0             1                1
4              0               0            1             1                0

In [30]:
data.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,Age,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,no_employees,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,supervisor,tech_company,wellness_program,work_interfere
0,0,1,0,0,0,0,0,1,37,Yes,Yes,Not sure,NaN,Some of them,0,Somewhat easy,No,No,Yes,6-25,0,No,Maybe,0,Yes,0,Yes,1,No,Often
1,0,1,0,0,0,1,0,0,44,Don't know,Don't know,No,NaN,No,0,Don't know,Maybe,No,Don't know,More than 1000,0,No,No,0,Don't know,0,No,0,Don't know,Rarely
2,0,0,0,0,0,1,0,1,32,Don't know,No,No,NaN,Yes,0,Somewhat difficult,No,Yes,No,6-25,0,No,Yes,0,No,0,Yes,1,No,Rarely
3,1,0,0,0,0,1,0,0,31,No,No,Yes,NaN,Some of them,1,Somewhat difficult,Yes,Maybe,No,26-100,1,Yes,Maybe,0,No,0,No,1,No,Often
4,0,1,0,0,0,1,0,0,31,Don't know,Yes,No,NaN,Some of them,0,Don't know,No,Yes,Don't know,100-500,0,No,Yes,1,Don't know,0,Yes,1,Don't know,Never

### 3. Encoding Features that are close to Ordinal values.

* some of the features are vary close to ordinal values, that is they possess some order. In this type of values, Ordinal encoding is a good choice.

In [32]:
ordinal_features = ['work_interfere', 'benefits', 'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave', 'mental_health_consequence', 'phys_health_consequence', 'coworkers', 'supervisor', 'mental_health_interview', 'phys_health_interview', 'mental_vs_physical']
ce_ord = ce.OrdinalEncoder(cols = ordinal_features)
data = ce_ord.fit_transform(data, y['treatment'])
data.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,Age,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,no_employees,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,supervisor,tech_company,wellness_program,work_interfere
0,0,1,0,0,0,0,0,1,37,1,1,1,NaN,1,0,1,1,1,1,6-25,0,1,1,0,1,0,1,1,1,1
1,0,1,0,0,0,1,0,0,44,2,2,2,NaN,2,0,2,2,1,2,More than 1000,0,1,2,0,2,0,2,0,2,2
2,0,0,0,0,0,1,0,1,32,2,3,2,NaN,3,0,3,1,2,3,6-25,0,1,3,0,3,0,1,1,1,2
3,1,0,0,0,0,1,0,0,31,3,3,3,NaN,1,1,3,3,3,3,26-100,1,2,1,0,3,0,2,1,1,1
4,0,1,0,0,0,1,0,0,31,2,1,2,NaN,1,0,2,1,2,2,100-500,0,1,3,1,2,0,1,1,2,3

### 4.Encoding Interval type categorical values.

* one of the good approch for interval type values are split them into lower and upper values.

In [33]:
data['no_employees'].value_counts()

6-25              290
26-100            289
More than 1000    282
100-500           176
1-5               162
500-1000           60
Name: no_employees, dtype: int64

In [34]:
data.loc[data['no_employees'] == 'More than 1000', 'no_employees'] = '1000-100000'
data.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,Age,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,no_employees,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,supervisor,tech_company,wellness_program,work_interfere
0,0,1,0,0,0,0,0,1,37,1,1,1,NaN,1,0,1,1,1,1,6-25,0,1,1,0,1,0,1,1,1,1
1,0,1,0,0,0,1,0,0,44,2,2,2,NaN,2,0,2,2,1,2,1000-100000,0,1,2,0,2,0,2,0,2,2
2,0,0,0,0,0,1,0,1,32,2,3,2,NaN,3,0,3,1,2,3,6-25,0,1,3,0,3,0,1,1,1,2
3,1,0,0,0,0,1,0,0,31,3,3,3,NaN,1,1,3,3,3,3,26-100,1,2,1,0,3,0,2,1,1,1
4,0,1,0,0,0,1,0,0,31,2,1,2,NaN,1,0,2,1,2,2,100-500,0,1,3,1,2,0,1,1,2,3

In [35]:
lower = []
upper = []
for val in data['no_employees']:
    values = val.split('-')
    lower.append(int(values[0]))
    upper.append(int(values[1]))

In [36]:
data['no_employees_lower'] = lower
data['no_employees_upper'] = upper
data[['no_employees', 'no_employees_lower', 'no_employees_upper']].head()

  no_employees  no_employees_lower  no_employees_upper
0         6-25                   6                  25
1  1000-100000                1000              100000
2         6-25                   6                  25
3       26-100                  26                 100
4      100-500                 100                 500

In [37]:
data.drop('no_employees', axis = 1, inplace = True)
data.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,Age,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,supervisor,tech_company,wellness_program,work_interfere,no_employees_lower,no_employees_upper
0,0,1,0,0,0,0,0,1,37,1,1,1,NaN,1,0,1,1,1,1,0,1,1,0,1,0,1,1,1,1,6,25
1,0,1,0,0,0,1,0,0,44,2,2,2,NaN,2,0,2,2,1,2,0,1,2,0,2,0,2,0,2,2,1000,100000
2,0,0,0,0,0,1,0,1,32,2,3,2,NaN,3,0,3,1,2,3,0,1,3,0,3,0,1,1,1,2,6,25
3,1,0,0,0,0,1,0,0,31,3,3,3,NaN,1,1,3,3,3,3,1,2,1,0,3,0,2,1,1,1,26,100
4,0,1,0,0,0,1,0,0,31,2,1,2,NaN,1,0,2,1,2,2,0,1,3,1,2,0,1,1,2,3,100,500

### 5. Scaling numerical Variables

* scaling numerical variables using min-max scaler function

In [38]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data[['Age', 'no_employees_lower', 'no_employees_upper']])
scaled_data = pd.DataFrame(scaled_data, columns = ['scaled_age', 'scaled_no_employees_lower', 'scaled_no_employees_upper'])
data = pd.concat([data, scaled_data], axis = 1)

In [39]:
data.drop(['Age', 'no_employees_lower', 'no_employees_upper'], axis = 1, inplace = True)
data.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,anonymity,benefits,care_options,comments,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,supervisor,tech_company,wellness_program,work_interfere,scaled_age,scaled_no_employees_lower,scaled_no_employees_upper
0,0,1,0,0,0,0,0,1,1,1,1,NaN,1,0,1,1,1,1,0,1,1,0,1,0,1,1,1,1,0.857908,0.005005,0.00020
1,0,1,0,0,0,1,0,0,2,2,2,NaN,2,0,2,2,1,2,0,1,2,0,2,0,2,0,2,2,0.861314,1.000000,1.00000
2,0,0,0,0,0,1,0,1,2,3,2,NaN,3,0,3,1,2,3,0,1,3,0,3,0,1,1,1,2,0.855474,0.005005,0.00020
3,1,0,0,0,0,1,0,0,3,3,3,NaN,1,1,3,3,3,3,1,2,1,0,3,0,2,1,1,1,0.854988,0.025025,0.00095
4,0,1,0,0,0,1,0,0,2,1,2,NaN,1,0,2,1,2,2,0,1,3,1,2,0,1,1,2,3,0.854988,0.099099,0.00495

In [40]:
data.drop(['comments'], axis = 1, inplace = True)

In [41]:
data.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,anonymity,benefits,care_options,coworkers,family_history,leave,mental_health_consequence,mental_health_interview,mental_vs_physical,obs_consequence,phys_health_consequence,phys_health_interview,remote_work,seek_help,self_employed,supervisor,tech_company,wellness_program,work_interfere,scaled_age,scaled_no_employees_lower,scaled_no_employees_upper
0,0,1,0,0,0,0,0,1,1,1,1,1,0,1,1,1,1,0,1,1,0,1,0,1,1,1,1,0.857908,0.005005,0.00020
1,0,1,0,0,0,1,0,0,2,2,2,2,0,2,2,1,2,0,1,2,0,2,0,2,0,2,2,0.861314,1.000000,1.00000
2,0,0,0,0,0,1,0,1,2,3,2,3,0,3,1,2,3,0,1,3,0,3,0,1,1,1,2,0.855474,0.005005,0.00020
3,1,0,0,0,0,1,0,0,3,3,3,1,1,3,3,3,3,1,2,1,0,3,0,2,1,1,1,0.854988,0.025025,0.00095
4,0,1,0,0,0,1,0,0,2,1,2,1,0,2,1,2,2,0,1,3,1,2,0,1,1,2,3,0.854988,0.099099,0.00495

In [42]:
X = data

In [43]:
print(X.shape, "\n\n", y.shape)

(1259, 30)

 (1259, 1)

# Data Analysis

# Model Development

### 1.Logistic Regression

In [54]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, f1_score

In [46]:
x_train, x_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=42)

In [60]:
print("x_train : ", x_train.shape)
print("y_train : ", y_train.shape)
print("x_test : ", x_test.shape)
print("y_test : ", y_test.shape)

x_train :  (1007, 30)
y_train :  (1007, 1)
x_test :  (252, 30)
y_test :  (252, 1)

In [47]:
model = LogisticRegression()
model.fit(x_train, y_train)

/home/joshyjoy/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/joshyjoy/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [48]:
model.score(x_train, y_train)

0.6782522343594836

In [51]:
yhat = model.predict(x_test)
yhat

array([0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0])

In [52]:
yhat_prob = model.predict_proba(x_test)
yhat_prob

array([[0.59259689, 0.40740311],
       [0.44020379, 0.55979621],
       [0.49270023, 0.50729977],
       [0.50259739, 0.49740261],
       [0.38565441, 0.61434559],
       [0.51902982, 0.48097018],
       [0.55905292, 0.44094708],
       [0.29388365, 0.70611635],
       [0.46732774, 0.53267226],
       [0.6734595 , 0.3265405 ],
       [0.50963566, 0.49036434],
       [0.49351953, 0.50648047],
       [0.60110424, 0.39889576],
       [0.73732078, 0.26267922],
       [0.18672959, 0.81327041],
       [0.76027614, 0.23972386],
       [0.65928433, 0.34071567],
       [0.12208934, 0.87791066],
       [0.4771133 , 0.5228867 ],
       [0.2300284 , 0.7699716 ],
       [0.54439544, 0.45560456],
       [0.43640917, 0.56359083],
       [0.11071371, 0.88928629],
       [0.74311595, 0.25688405],
       [0.54073939, 0.45926061],
       [0.51207276, 0.48792724],
       [0.79048752, 0.20951248],
       [0.70381876, 0.29618124],
       [0.60508634, 0.39491366],
       [0.80787785, 0.19212215],
       [0.2483587 , 0.7516413 ],
       [0.25009386, 0.74990614],
       [0.70193889, 0.29806111],
       [0.73874101, 0.26125899],
       [0.26893454, 0.73106546],
       [0.78475232, 0.21524768],
       [0.62592254, 0.37407746],
       [0.6811762 , 0.3188238 ],
       [0.26682911, 0.73317089],
       [0.57585388, 0.42414612],
       [0.20161142, 0.79838858],
       [0.67440234, 0.32559766],
       [0.70902469, 0.29097531],
       [0.74407011, 0.25592989],
       [0.55367258, 0.44632742],
       [0.38908957, 0.61091043],
       [0.68103957, 0.31896043],
       [0.29017432, 0.70982568],
       [0.10020813, 0.89979187],
       [0.6388091 , 0.3611909 ],
       [0.60231796, 0.39768204],
       [0.48062085, 0.51937915],
       [0.85071467, 0.14928533],
       [0.35647283, 0.64352717],
       [0.5290121 , 0.4709879 ],
       [0.1864776 , 0.8135224 ],
       [0.76610434, 0.23389566],
       [0.72692202, 0.27307798],
       [0.29280833, 0.70719167],
       [0.36604892, 0.63395108],
       [0.63246752, 0.36753248],
       [0.46428707, 0.53571293],
       [0.58192517, 0.41807483],
       [0.33820002, 0.66179998],
       [0.70788842, 0.29211158],
       [0.43634267, 0.56365733],
       [0.70799476, 0.29200524],
       [0.30582126, 0.69417874],
       [0.74628623, 0.25371377],
       [0.42051806, 0.57948194],
       [0.33900374, 0.66099626],
       [0.48204333, 0.51795667],
       [0.62254328, 0.37745672],
       [0.35462561, 0.64537439],
       [0.32618214, 0.67381786],
       [0.33585312, 0.66414688],
       [0.69706091, 0.30293909],
       [0.35513974, 0.64486026],
       [0.6430054 , 0.3569946 ],
       [0.59552071, 0.40447929],
       [0.49962418, 0.50037582],
       [0.3234122 , 0.6765878 ],
       [0.72889171, 0.27110829],
       [0.21812068, 0.78187932],
       [0.13540922, 0.86459078],
       [0.79461011, 0.20538989],
       [0.35807282, 0.64192718],
       [0.66285683, 0.33714317],
       [0.51406282, 0.48593718],
       [0.32631061, 0.67368939],
       [0.55652778, 0.44347222],
       [0.30940308, 0.69059692],
       [0.44265138, 0.55734862],
       [0.59696738, 0.40303262],
       [0.42933157, 0.57066843],
       [0.75737587, 0.24262413],
       [0.46688553, 0.53311447],
       [0.52382522, 0.47617478],
       [0.65297193, 0.34702807],
       [0.71775136, 0.28224864],
       [0.77429586, 0.22570414],
       [0.30179001, 0.69820999],
       [0.69614668, 0.30385332],
       [0.64399822, 0.35600178],
       [0.16630951, 0.83369049],
       [0.76806191, 0.23193809],
       [0.16127226, 0.83872774],
       [0.82963729, 0.17036271],
       [0.44582374, 0.55417626],
       [0.44226499, 0.55773501],
       [0.72408765, 0.27591235],
       [0.63942164, 0.36057836],
       [0.74141065, 0.25858935],
       [0.55553746, 0.44446254],
       [0.67808838, 0.32191162],
       [0.38996498, 0.61003502],
       [0.59133773, 0.40866227],
       [0.53599659, 0.46400341],
       [0.71786988, 0.28213012],
       [0.68352441, 0.31647559],
       [0.78313208, 0.21686792],
       [0.28275088, 0.71724912],
       [0.66597227, 0.33402773],
       [0.43662353, 0.56337647],
       [0.31222595, 0.68777405],
       [0.26288109, 0.73711891],
       [0.61660101, 0.38339899],
       [0.66927086, 0.33072914],
       [0.53279997, 0.46720003],
       [0.52678694, 0.47321306],
       [0.20580466, 0.79419534],
       [0.49240459, 0.50759541],
       [0.3443806 , 0.6556194 ],
       [0.48807049, 0.51192951],
       [0.40431356, 0.59568644],
       [0.75283093, 0.24716907],
       [0.74903654, 0.25096346],
       [0.68624728, 0.31375272],
       [0.57715492, 0.42284508],
       [0.77194551, 0.22805449],
       [0.32687038, 0.67312962],
       [0.48943705, 0.51056295],
       [0.63467947, 0.36532053],
       [0.71746149, 0.28253851],
       [0.69661722, 0.30338278],
       [0.64122041, 0.35877959],
       [0.54637838, 0.45362162],
       [0.40320282, 0.59679718],
       [0.70922378, 0.29077622],
       [0.53794081, 0.46205919],
       [0.27723554, 0.72276446],
       [0.33794968, 0.66205032],
       [0.76314099, 0.23685901],
       [0.77427388, 0.22572612],
       [0.18046511, 0.81953489],
       [0.43956277, 0.56043723],
       [0.51436538, 0.48563462],
       [0.59919643, 0.40080357],
       [0.60154134, 0.39845866],
       [0.38417291, 0.61582709],
       [0.40371987, 0.59628013],
       [0.59839232, 0.40160768],
       [0.60764578, 0.39235422],
       [0.82533297, 0.17466703],
       [0.16381466, 0.83618534],
       [0.20481233, 0.79518767],
       [0.49252979, 0.50747021],
       [0.46982346, 0.53017654],
       [0.80461353, 0.19538647],
       [0.72374391, 0.27625609],
       [0.33762026, 0.66237974],
       [0.6989994 , 0.3010006 ],
       [0.31886527, 0.68113473],
       [0.16360337, 0.83639663],
       [0.68970041, 0.31029959],
       [0.64221708, 0.35778292],
       [0.52160876, 0.47839124],
       [0.34582852, 0.65417148],
       [0.6827516 , 0.3172484 ],
       [0.35802191, 0.64197809],
       [0.55001488, 0.44998512],
       [0.56073559, 0.43926441],
       [0.29571152, 0.70428848],
       [0.54102543, 0.45897457],
       [0.63730119, 0.36269881],
       [0.24054912, 0.75945088],
       [0.5021155 , 0.4978845 ],
       [0.28938144, 0.71061856],
       [0.47217838, 0.52782162],
       [0.54053823, 0.45946177],
       [0.40727214, 0.59272786],
       [0.4623448 , 0.5376552 ],
       [0.53488052, 0.46511948],
       [0.75813814, 0.24186186],
       [0.53525986, 0.46474014],
       [0.58704114, 0.41295886],
       [0.35426718, 0.64573282],
       [0.73868814, 0.26131186],
       [0.74275324, 0.25724676],
       [0.39803348, 0.60196652],
       [0.51697836, 0.48302164],
       [0.67154503, 0.32845497],
       [0.63574224, 0.36425776],
       [0.72313803, 0.27686197],
       [0.65260603, 0.34739397],
       [0.247061  , 0.752939  ],
       [0.4197211 , 0.5802789 ],
       [0.59249349, 0.40750651],
       [0.47536629, 0.52463371],
       [0.61845742, 0.38154258],
       [0.178331  , 0.821669  ],
       [0.62770077, 0.37229923],
       [0.60814932, 0.39185068],
       [0.78478955, 0.21521045],
       [0.52477291, 0.47522709],
       [0.56850263, 0.43149737],
       [0.54076184, 0.45923816],
       [0.2225856 , 0.7774144 ],
       [0.42233882, 0.57766118],
       [0.2269726 , 0.7730274 ],
       [0.24041857, 0.75958143],
       [0.46967954, 0.53032046],
       [0.25504173, 0.74495827],
       [0.40150665, 0.59849335],
       [0.47777074, 0.52222926],
       [0.59261975, 0.40738025],
       [0.5986305 , 0.4013695 ],
       [0.08032517, 0.91967483],
       [0.80673943, 0.19326057],
       [0.4072214 , 0.5927786 ],
       [0.61423664, 0.38576336],
       [0.30564896, 0.69435104],
       [0.17715612, 0.82284388],
       [0.53666826, 0.46333174],
       [0.66560893, 0.33439107],
       [0.60338388, 0.39661612],
       [0.74457061, 0.25542939],
       [0.60587678, 0.39412322],
       [0.64350922, 0.35649078],
       [0.46910039, 0.53089961],
       [0.24591109, 0.75408891],
       [0.40318833, 0.59681167],
       [0.5207067 , 0.4792933 ],
       [0.35236768, 0.64763232],
       [0.72728822, 0.27271178],
       [0.38205866, 0.61794134],
       [0.68126537, 0.31873463],
       [0.62654448, 0.37345552],
       [0.41026683, 0.58973317],
       [0.60692994, 0.39307006],
       [0.23160171, 0.76839829],
       [0.5901488 , 0.4098512 ]])

In [53]:
confusion_mtx = confusion_matrix(y_test, yhat)
print(confusion_mtx)

[[95 44]
 [47 66]]

In [55]:
print("Test Accuracy = ", f1_score(y_test, yhat))

Test Accuracy =  0.5919282511210762

### 2. Deep Learning Model

In [56]:
import keras as K
import keras.models as M
from keras.layers import *

Using TensorFlow backend.

In [59]:
classification = K.Sequential()

WARNING:tensorflow:From /home/joshyjoy/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [63]:
#neural network structure definition

#first hidden layer
classification.add(Dense(30, input_dim = 30, activation = 'relu', name = "layer_1"))

#second hidden layer
classification.add(Dense(100, activation = 'relu', name = "layer_2"))

#third hidden layer
classification.add(Dense(50, activation = 'relu', name = "layer_3"))

#output layer
classification.add(Dense(1, activation = 'sigmoid', name = "output_layer"))

In [65]:
#compiling the neural network
classification.compile(optimizer = 'adam', loss='binary_crossentropy', metrics =['accuracy'])

WARNING:tensorflow:From /home/joshyjoy/anaconda3/lib/python3.7/site-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/joshyjoy/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /home/joshyjoy/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [66]:
#train the neural network model
classification.fit(x = x_train, y = y_train, epochs = 100)

WARNING:tensorflow:From /home/joshyjoy/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/100
1007/1007 [==============================] - 2s 2ms/step - loss: 0.6882 - acc: 0.5561
Epoch 2/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.6512 - acc: 0.6256
Epoch 3/100
1007/1007 [==============================] - 0s 42us/step - loss: 0.6339 - acc: 0.6544
Epoch 4/100
1007/1007 [==============================] - 0s 43us/step - loss: 0.6291 - acc: 0.6544
Epoch 5/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.6178 - acc: 0.6773
Epoch 6/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.6146 - acc: 0.6713
Epoch 7/100
1007/1007 [==============================] - 0s 43us/step - loss: 0.6148 - acc: 0.6624
Epoch 8/100
1007/1007 [==============================] - 0s 47us/step - loss: 0.6050 - acc: 0.6792
Epoch 9/100
1007/1007 [==============================] - 0s 37us/step - loss: 0.5991 - acc: 0.6842
Epoch 10/100
1007/1007 [==============================] - 0s 47us/step - loss: 0.6058 - acc: 0.6713
Epoch 11/100
1007/1007 [==============================] - 0s 44us/step - loss: 0.5945 - acc: 0.6832
Epoch 12/100
1007/1007 [==============================] - 0s 47us/step - loss: 0.5939 - acc: 0.6832
Epoch 13/100
1007/1007 [==============================] - 0s 43us/step - loss: 0.5870 - acc: 0.6912
Epoch 14/100
1007/1007 [==============================] - 0s 48us/step - loss: 0.5758 - acc: 0.7021
Epoch 15/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.5717 - acc: 0.6931
Epoch 16/100
1007/1007 [==============================] - 0s 43us/step - loss: 0.5671 - acc: 0.7051
Epoch 17/100
1007/1007 [==============================] - 0s 41us/step - loss: 0.5593 - acc: 0.7090
Epoch 18/100
1007/1007 [==============================] - 0s 72us/step - loss: 0.5654 - acc: 0.6981
Epoch 19/100
1007/1007 [==============================] - 0s 59us/step - loss: 0.5533 - acc: 0.7080
Epoch 20/100
1007/1007 [==============================] - 0s 50us/step - loss: 0.5476 - acc: 0.7150
Epoch 21/100
1007/1007 [==============================] - 0s 50us/step - loss: 0.5367 - acc: 0.7239
Epoch 22/100
1007/1007 [==============================] - 0s 44us/step - loss: 0.5318 - acc: 0.7229
Epoch 23/100
1007/1007 [==============================] - 0s 47us/step - loss: 0.5352 - acc: 0.7229
Epoch 24/100
1007/1007 [==============================] - 0s 51us/step - loss: 0.5454 - acc: 0.7120
Epoch 25/100
1007/1007 [==============================] - 0s 48us/step - loss: 0.5239 - acc: 0.7368
Epoch 26/100
1007/1007 [==============================] - 0s 47us/step - loss: 0.5114 - acc: 0.7488
Epoch 27/100
1007/1007 [==============================] - 0s 51us/step - loss: 0.5116 - acc: 0.7408
Epoch 28/100
1007/1007 [==============================] - 0s 59us/step - loss: 0.5058 - acc: 0.7438
Epoch 29/100
1007/1007 [==============================] - 0s 46us/step - loss: 0.4937 - acc: 0.7646
Epoch 30/100
1007/1007 [==============================] - 0s 45us/step - loss: 0.4815 - acc: 0.7646
Epoch 31/100
1007/1007 [==============================] - 0s 62us/step - loss: 0.4745 - acc: 0.7706
Epoch 32/100
1007/1007 [==============================] - 0s 63us/step - loss: 0.4681 - acc: 0.7795
Epoch 33/100
1007/1007 [==============================] - 0s 70us/step - loss: 0.4709 - acc: 0.7756
Epoch 34/100
1007/1007 [==============================] - 0s 66us/step - loss: 0.4552 - acc: 0.7805
Epoch 35/100
1007/1007 [==============================] - 0s 65us/step - loss: 0.4462 - acc: 0.7855
Epoch 36/100
1007/1007 [==============================] - 0s 64us/step - loss: 0.4438 - acc: 0.7905
Epoch 37/100
1007/1007 [==============================] - 0s 62us/step - loss: 0.4344 - acc: 0.7994
Epoch 38/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.4260 - acc: 0.7944
Epoch 39/100
1007/1007 [==============================] - 0s 50us/step - loss: 0.4168 - acc: 0.8103
Epoch 40/100
1007/1007 [==============================] - 0s 45us/step - loss: 0.4181 - acc: 0.8034
Epoch 41/100
1007/1007 [==============================] - 0s 48us/step - loss: 0.4033 - acc: 0.8222
Epoch 42/100
1007/1007 [==============================] - 0s 45us/step - loss: 0.3927 - acc: 0.8203
Epoch 43/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.3933 - acc: 0.8163
Epoch 44/100
1007/1007 [==============================] - 0s 43us/step - loss: 0.3829 - acc: 0.8282
Epoch 45/100
1007/1007 [==============================] - 0s 52us/step - loss: 0.3743 - acc: 0.8361
Epoch 46/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.3559 - acc: 0.8421
Epoch 47/100
1007/1007 [==============================] - 0s 53us/step - loss: 0.3751 - acc: 0.8242
Epoch 48/100
1007/1007 [==============================] - 0s 62us/step - loss: 0.3591 - acc: 0.8342
Epoch 49/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.3445 - acc: 0.8570
Epoch 50/100
1007/1007 [==============================] - 0s 50us/step - loss: 0.3362 - acc: 0.8570
Epoch 51/100
1007/1007 [==============================] - 0s 55us/step - loss: 0.3279 - acc: 0.8580
Epoch 52/100
1007/1007 [==============================] - 0s 59us/step - loss: 0.3123 - acc: 0.8610
Epoch 53/100
1007/1007 [==============================] - 0s 56us/step - loss: 0.3191 - acc: 0.8590
Epoch 54/100
1007/1007 [==============================] - 0s 45us/step - loss: 0.3154 - acc: 0.8649
Epoch 55/100
1007/1007 [==============================] - 0s 44us/step - loss: 0.2993 - acc: 0.8788
Epoch 56/100
1007/1007 [==============================] - 0s 39us/step - loss: 0.2957 - acc: 0.8739
Epoch 57/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.3048 - acc: 0.8580
Epoch 58/100
1007/1007 [==============================] - 0s 50us/step - loss: 0.2714 - acc: 0.8858
Epoch 59/100
1007/1007 [==============================] - 0s 50us/step - loss: 0.2703 - acc: 0.8918
Epoch 60/100
1007/1007 [==============================] - 0s 47us/step - loss: 0.2558 - acc: 0.8928
Epoch 61/100
1007/1007 [==============================] - 0s 41us/step - loss: 0.2750 - acc: 0.8739
Epoch 62/100
1007/1007 [==============================] - 0s 50us/step - loss: 0.2706 - acc: 0.8759
Epoch 63/100
1007/1007 [==============================] - 0s 41us/step - loss: 0.2437 - acc: 0.8997
Epoch 64/100
1007/1007 [==============================] - 0s 53us/step - loss: 0.2437 - acc: 0.9037
Epoch 65/100
1007/1007 [==============================] - 0s 63us/step - loss: 0.2322 - acc: 0.9086
Epoch 66/100
1007/1007 [==============================] - 0s 48us/step - loss: 0.2216 - acc: 0.9096
Epoch 67/100
1007/1007 [==============================] - 0s 51us/step - loss: 0.2236 - acc: 0.9106
Epoch 68/100
1007/1007 [==============================] - 0s 46us/step - loss: 0.2197 - acc: 0.9156
Epoch 69/100
1007/1007 [==============================] - 0s 45us/step - loss: 0.2473 - acc: 0.8947
Epoch 70/100
1007/1007 [==============================] - 0s 43us/step - loss: 0.2066 - acc: 0.9235
Epoch 71/100
1007/1007 [==============================] - 0s 57us/step - loss: 0.2014 - acc: 0.9235
Epoch 72/100
1007/1007 [==============================] - 0s 41us/step - loss: 0.1987 - acc: 0.9206
Epoch 73/100
1007/1007 [==============================] - 0s 47us/step - loss: 0.1839 - acc: 0.9285
Epoch 74/100
1007/1007 [==============================] - 0s 43us/step - loss: 0.1760 - acc: 0.9345
Epoch 75/100
1007/1007 [==============================] - 0s 45us/step - loss: 0.1732 - acc: 0.9394
Epoch 76/100
1007/1007 [==============================] - 0s 40us/step - loss: 0.1692 - acc: 0.9384
Epoch 77/100
1007/1007 [==============================] - 0s 52us/step - loss: 0.1713 - acc: 0.9394
Epoch 78/100
1007/1007 [==============================] - 0s 50us/step - loss: 0.1779 - acc: 0.9335
Epoch 79/100
1007/1007 [==============================] - 0s 67us/step - loss: 0.1530 - acc: 0.9394
Epoch 80/100
1007/1007 [==============================] - 0s 68us/step - loss: 0.1500 - acc: 0.9464
Epoch 81/100

1007/1007 [==============================] - 0s 69us/step - loss: 0.1458 - acc: 0.9414
Epoch 82/100
1007/1007 [==============================] - 0s 68us/step - loss: 0.1490 - acc: 0.9474
Epoch 83/100
1007/1007 [==============================] - 0s 43us/step - loss: 0.1403 - acc: 0.9543
Epoch 84/100
1007/1007 [==============================] - 0s 38us/step - loss: 0.1760 - acc: 0.9335
Epoch 85/100
1007/1007 [==============================] - 0s 43us/step - loss: 0.1682 - acc: 0.9345
Epoch 86/100
1007/1007 [==============================] - 0s 38us/step - loss: 0.1351 - acc: 0.9494
Epoch 87/100
1007/1007 [==============================] - 0s 44us/step - loss: 0.1429 - acc: 0.9464
Epoch 88/100
1007/1007 [==============================] - 0s 39us/step - loss: 0.1516 - acc: 0.9434
Epoch 89/100
1007/1007 [==============================] - 0s 44us/step - loss: 0.1289 - acc: 0.9543
Epoch 90/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.1303 - acc: 0.9543
Epoch 91/100
1007/1007 [==============================] - 0s 70us/step - loss: 0.1217 - acc: 0.9652
Epoch 92/100
1007/1007 [==============================] - 0s 73us/step - loss: 0.1138 - acc: 0.9613
Epoch 93/100
1007/1007 [==============================] - 0s 80us/step - loss: 0.1145 - acc: 0.9662
Epoch 94/100
1007/1007 [==============================] - 0s 49us/step - loss: 0.1082 - acc: 0.9652
Epoch 95/100
1007/1007 [==============================] - 0s 46us/step - loss: 0.0919 - acc: 0.9742
Epoch 96/100
1007/1007 [==============================] - 0s 42us/step - loss: 0.0891 - acc: 0.9772
Epoch 97/100
1007/1007 [==============================] - 0s 48us/step - loss: 0.0924 - acc: 0.9732
Epoch 98/100
1007/1007 [==============================] - 0s 42us/step - loss: 0.0887 - acc: 0.9732
Epoch 99/100
1007/1007 [==============================] - 0s 42us/step - loss: 0.0891 - acc: 0.9742
Epoch 100/100
1007/1007 [==============================] - 0s 39us/step - loss: 0.0832 - acc: 0.9791

In [67]:
eval_model=classification.evaluate(x_train, y_train)
eval_model

1007/1007 [==============================] - 0s 132us/step

[0.0791357975553022, 0.9781529295527355]

In [72]:
y_pred=classification.predict(x_test)
yhat = []
for i in y_pred:
    if i>0.5:
        yhat.append(1)
    else:
        yhat.append(0)
        
yhat = np.asarray(yhat)
yhat

array([1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1])

In [73]:
confusion_mtx = confusion_matrix(y_test, yhat)
confusion_mtx

array([[89, 50],
       [47, 66]])

In [74]:
f1 = f1_score(y_test, yhat)
print(f1)

0.576419213973799